<h1><%= @author.name %></h1>

<p>Author's Posts:
<ul><% @author.posts.each do |post| %>
  <li><div><%= post.title %></div></li>
<% end %></ul></p>

<p>Add a New Post: <%= link_to "New Post", new_author_post_path(@author) %></p>
