<h1><%= @post.title %></h1>
<% if @post.author  %>
<p>by <%= link_to @post.author.name, author_path(@post.author) %> (<%= link_to "Edit Post", edit_author_post_path(@post.author, @post) %>)</p>
<% end %>
<p><%= @post.description %> </p>